body{

    background-color: rgb(74, 74, 247);

}

header{

    background-color: rgb(78, 112, 78);

    background-image: url(../images/backgroundinglês.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
header h1{

    background-color: white;

}


.themeslist ul h1{
    
    background-color: red;
}
.themeslist ul h1:hover{
    background-color: tomato;
}
.themeslist li{
    background-color: rgb(37, 37, 180);
}
.themeslist li:hover{
    background-color: rgb(0, 0, 208);
}

.textportion{
    
    background-color: tomato;
}


footer{

    background-color: red;


}


