html{
   
}


body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
}


header{
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    position: sticky;
}
header h1{
    margin: 0px;
    font-size: 50px;
    border: 3px solid;
    padding: 10px;
    text-align: center;
}


main{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.themeslist{
    margin: 20px;
}
.themeslist ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.themeslist ul h1{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.themeslist li{
    font-size: 30px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
}
.themeslist ul a{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 100%;
    display: inline-block;
}

.textportion{
    display: block;
    width: 70%;
    padding: 20px;
    border: 3px solid;
    margin: 20px;
    border-radius: 20px;
}
.textportion h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
}
.textportion h2{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 15px;
}
.textportion p{
    text-align: left;
    font-size: 30px;
    text-indent: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.imageportion{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

}
.imageportion img{
    
    max-height: 500px;
    max-width: 500px;
    min-height: 300px;
    min-width: 300px;
}
.imageportion .descriptionimage p{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.formulaportion{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;

}
.formulaportion p{
    padding: 20px;
    background-color: rgb(188, 188, 188);
    border: 1px solid;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
}

.listportion h3{

    font-weight: bold;
    font-size: 30px;
    text-indent: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.listportion li{

    
    font-size: 30px;
    text-indent: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.logicportion{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.logicportion .describedlogic{
    display: flex;
    justify-content: center;
}
.logicportion .describedlogic div{
    display: inline-block;
    border: 3px solid skyblue;
    padding: 20px;
}
.logicportion .describedlogic div p{
   margin-bottom: 5px;
}


footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;


}
footer h5{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;

}

@media screen and (max-width: 660px){
    
    
    .imageportion img{
    
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    }

    .textportion h1{
        font-size: 40px;
    }
    .textportion h2{
        font-size: 30px;
    }
    .textportion p{
        font-size: 20px;
    }
}

@media screen and (max-width: 380px){

    .imageportion img{
    
        max-height: 250px;
        max-width: 250px;
        min-height: 250px;
        min-width: 250px;
    }

    .textportion h1{
        font-size: 25px;
    }
    .textportion h2{
        font-size: 20px;
    }
    .textportion p{
        font-size: 15px;
    }
}