body{

    background-color:rgb(255, 151, 77);
  
}

header{

    background-color: rgb(78, 112, 78);

    background-image: url(../images/FundoMatematica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
header h1{

    background-color: white;

}


.themeslist ul h1{
    
    background-color: darkcyan;
}
.themeslist ul h1:hover{
    background-color: rgb(206, 206, 187);
}
.themeslist li{
    background-color: mintcream;
}
.themeslist li:hover{
    background-color: rgb(205, 214, 210);
}

.textportion{
    
    background-color: rgb(220, 220, 189);
}


footer{

    background-color:darkcyan;


}