.navbar{
    width: 100%;
}
.navbar ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: block;
    list-style-type: none;
    background-color: rgb(60, 60, 60);
    
    
}
.navbar #navbarElement{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    display: block;

}
.navbar li{
    float: left;
}
.navbar #navbarElement:hover{
    background-color: darkgray;

}

.dropdown{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
.dropdown h2{
    margin: 0px;
    background-color: white;
    color: black;
    font-size: 20px;
    height: 100%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.dropdown a{
    font-size: 25px;
    background-color: hsl(0, 2%, 91%);
    text-align: left;
    padding: 10px 15px;
    margin: 0px;
    text-decoration: none;
    color: black;
    display: block;
    min-width: 215px;
    
    
}
.dropdown .dropdowncontent{
    position: absolute;
    box-shadow: 2px 2px 5px black;
    display: none;
    z-index: 1;
    
    

    

}

.dropdown:hover .dropdowncontent{
   display: block;
}
.dropdown:hover{
    background-color: gray;
}
.dropdowncontent a:hover{
    background-color: lightgray;
}

.sidedrop{

}
.sidedrop a{
    display: inline-block;

}
.sidedrop .sidedropcontent{
    display: none;
    position: absolute; 

}
.sidedrop:hover .sidedropcontent{
    display: inline-block;

}
.sidedrop .sidedropcontent a{
    display: block;
    background-color: gray; 
    color: white;

}
.sidedrop .sidedropcontent a:hover{
    display: block;
    background-color: rgb(157, 157, 157); 

}

.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
}